.rotating-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  padding: 1.5rem 0;
}

@media (max-width: 768px) {
  .rotating-text-container {
    padding: 2rem;
  }
}

@media (max-width: 480px) {
  .rotating-text-container {
    padding: 2.5rem 0;
  }
}
